<a href="{{ path('connect_google') }}">Connexion avec google</a>
{#<div id="g_id_onload"#}
{#     data-client_id="707083252525-03imef2r8165eibdjth0c0mmk8vugeud.apps.googleusercontent.com"#}
{#     data-context="use"#}
{#     data-ux_mode="popup"#}
{#     data-login_uri="https://plugin-admin-oauth--p81.tme.host.synosaas.com/admin/connect/google"#}
{#     data-auto_select="true"#}
{#     data-itp_support="true">#}
{#</div>#}

{#<div class="g_id_signin"#}
{#     data-type="standard"#}
{#     data-shape="pill"#}
{#     data-theme="outline"#}
{#     data-text="continue_with"#}
{#     data-size="large"#}
{#     data-logo_alignment="left">#}
{#</div>#}
