parameters:
    paths:
        - ../src
    level: max
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    bootstrapFiles:
        - ../vendor/autoload.php
    excludePaths:
        - '../src/DependencyInjection/Configuration.php'
    scanFiles:
      - '../install/Application/src/Entity/User/AdminUser.php'
    treatPhpDocTypesAsCertain: false
