parameters:
    level: max
    paths:
        - ../src
        - ../install/Application/src
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - ../vendor/autoload.php
    excludePaths:
        - '../src/DependencyInjection/Configuration.php'
        - '../src/Factory/AdminUserFactory.php'
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
