<a style="margin-top: .5rem" href="{{ path('connect_google') }}">{{ "sylius.google_authentication.login_button"|trans }}</a>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
