{% if google_client_id is not null %}
    <div style="margin: 0.5rem 0 0.5rem 0">
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <div id="g_id_onload"
         data-client_id="{{ google_client_id }}"
         data-login_uri="{{ path('connect_admin_google') }}">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="sign_in_with"
         data-shape="rectangular"
         data-logo_alignment="center"
         data-width="335"
         data-locale={{ app.request.locale }}
        >
    </div>
</div>
{% endif %}
