{% if microsoft_client_id is not null %}
    <div class="oAuthButtonBlock microsoftOAuth">
        <button disabled>
            <a href="{{ path('connect_admin_azure') }}">
                <img src="https://learn.microsoft.com/fr-fr/azure/active-directory/develop/media/howto-add-branding-in-apps/ms-symbollockup_mssymbol_19.png" alt="microsoft icon">
                <span>{{ "sylius.authentication.admin.microsoft_login_button_label"|trans }}</span>
            </a>
        </button>
    </div>
{% endif %}
