{% if microsoft_client_id is not null %}
    <div>
        <a style="margin-top: .5rem" href="{{ path('connect_azure') }}">{{ "sylius.microsoft_authentication.login_button"|trans }}</a>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
